{% load i18n static %}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for event in events_mendatang %}
      <div class="swiper-slide card">
        <div class="card-content">
         <div class="card-image">
            <figure class="image">
              {% if event.foto_sebelum %}
                <img src="{{ event.foto_sebelum.url }}" alt="Placeholder image">
              {% endif %}
            </figure>
          </div>
          <div class="content is-paddingless mt-3 has-text-left">
            <a class="title is-size-4-tablet is-size-5-mobile is-capitalized mb-2" href="{% url 'event:event_detail' event.slug %}">{{ event.nama}}</a>
            <p class="subtitle is-size-6 mt-2 my-0">Dana dibutuhkan Rp. {{ event.dana|floatformat:"g" }} <br>
                <span class="has-text-info">Donasi terkumpul Rp. {{ event.total|floatformat:"g" }}</span>
            </p>
            <hr class="is-paddingless">
            <div class="columns is-multiline is-mobile">
                <div class="column is-6 py-1 has-text-left">
                  <p class="subtitle is-size-6 mb-1">{{ event.lokasi}}</p>
                </div>
                <div class="column is-6 py-1 has-text-right">
                  <p class="subtitle is-size-6 mb-1 mt-1">{{ event.remaining_days }} hari lagi</p>
                </div>
                <div class="column is-12 py-1">
                  <div class="tags">
                      {% for tag in event.tags.all %}
                          <span> <a class="tag is-medium has-background-light m-1">{{ tag }}</a></span>
                      {% endfor %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>