{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container p-3">
        <div class="columns is-multiline">
          <div class="column
          is-12-mobile
          is-2-tablet
          is-2-desktop">
            <nav class="panel">
              <p class="panel-heading">
                  Kategori
              </p>
              <form action="" method="GET">
                  <button class="button is-fullwidth" type="submit" name="keterangan" value="semua" style="justify-content: flex-start;">
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    Semua
                  </button>
                  {% for r_val, r_display in facets.categories.keterangan %}
                      <button class="button is-fullwidth" type="submit" name="keterangan" value="{{ r_val }}" style="justify-content: flex-start;">
                        <span class="panel-icon">
                          <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        {{ r_display }}
                      </button>
                  {% endfor %}
              </form>
            </nav>
          </div>
            {% for event in events %}
            <div class="column is-5-desktop is-5-tablet is-12-mobile">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      {% if event.foto_sebelum %}
                        <img src="{{ event.foto_sebelum.url }}" alt="Placeholder image">
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content is-paddingless">
                      <a class="title is-size-4 is-capitalized mb-2" href="{% url 'event:event_detail' event.slug %}">{{ event.nama}}</a>
                      <p class="subtitle is-size-6 mt-2 my-0">Dana dibutuhkan Rp. {{ event.dana|floatformat:"g" }} <br>
                          <span class="has-text-info">Donasi terkumpul Rp. {{ event.total|floatformat:"g" }}</span>
                      </p>
                      <hr class="is-paddingless">
                      <div class="columns is-multiline">
                          <div class="column is-6 py-1 has-text-left">
                            <p class="subtitle is-size-6 mb-1">{{ event.lokasi}}</p>
                          </div>
                          <div class="column is-6 py-1 has-text-right">
                            <p class="subtitle is-size-6 mb-1 mt-1">{{ event.remaining_days }} hari lagi</p>
                          </div>
                          <div class="column is-12 py-1">
                            <div class="tags">
                                {% for tag in event.tags.all %}
                                    <span> <a class="tag is-medium has-background-light m-1">{{ tag }}</a></span>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
         </div>
    </div>
{% endblock %}