{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container p-3">
        <div class="columns is-multiline">
          <div class="column
          is-12-mobile
          is-5-tablet
          is-5-desktop is-gapless">
            <p class="title is-size-3-desktop is-size-4-tablet is-size-4-mobile">{{ event.nama }}</p>
            <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile mb-2">Dana Rp. {{ event.dana|floatformat:"g" }}</p>
            <div class="tags">
                {% for tag in event.tags.all %}
                    <span> <a class="tag is-medium has-background-info-light">{{ tag }}</a></span>
                {% endfor %}
            </div>
          </div>
          <div class="column
          is-12-mobile
          is-7-tablet
          is-7-desktop is-gapless">
              <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile mb-2">Support this project | {{ event_sum }} orang donasi Rp. {{ event.total|floatformat:"g" }}</p>
              <a class="button button-cot" href="{% url 'event:donasi' %}">Donasi</a>
          </div>
          <div class="column
          is-12-mobile
          is-12-tablet
          is-12-desktop">
            <figure class="image is-3by2">
              {% if event.foto_sebelum %}
                <img src="{{ event.foto_sebelum.url }}" alt="Placeholder image">
              {% endif %}
            </figure>
          </div>
          <div class="column
          is-12-mobile
          is-12-tablet
          is-12-desktop">
            <div class="columns is-multiline">
              <div class="column
              is-12-mobile
              is-12-tablet
              is-12-desktop">
                  <div class="title is-size-3-desktop is-size-4-tablet is-size-4-mobile">Deskripsi</div>
                  <div class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">{{ event.deskripsi }}</div>
              </div>
              <div class="column
              is-12-mobile
              is-12-tablet
              is-12-desktop">
                  <div class="title is-size-3-desktop is-size-4-tablet is-size-4-mobile">Lokasi</div>
                  <iframe
                        class="iframe mx-auto mt-4 mb-1" height="300"
                        :src= "portofolio.link_iframe"
                        frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0">
                  </iframe>
                    <p class="subtitle-3 is-size-7 mt-1 mb-3">{{ portofolio.lokasi }}</p>
                    <a class="button is-rounded is-size-7 mb-5" :href="portofolio.link_gmap" target="_blank">
                       <font-awesome-icon icon="fa-solid fa-location-dot" />
                       &nbsp;Google Map
                    </a>
              </div>
              <div class="column
              is-12-mobile
              is-12-tablet
              is-12-desktop">
                  <div class="title is-size-3-desktop is-size-4-tablet is-size-4-mobile">Daftar Donatur</div>
                  <table class="table">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Nama</th>
                          <th>Tanggal</th>
                          <th>Jumlah</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for dana in event.event.all %}
                        <tr>
                          <td class="has-text-centered">{{ forloop.counter }}</td>
                          <td class="has-text-centered">{{ dana.nama_penyumbang }}</td>
                          <td class="has-text-centered">{{ dana.created|date:"d M Y" }}</td>
                          <td class="has-text-centered">{{ dana.jumlah|floatformat:"g" }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="column
              is-12-mobile
              is-12-tablet
              is-12-desktop">
                  <div class="title is-size-3-desktop is-size-4-tablet is-size-4-mobile">Komentar</div>
                  <div class="hero is-small has-background-info-light">
                    {% for komentar in komentars %}
                      <div class="section">
                          <div class="container">
                              <div class="card">
                                  <div class="card-content p-4">
                                      <div class="media-content mb-2">
                                        <p class="subtitle is-6">{{ komentar.nama }} <span class="subtitle is-7">di {{ komentar.daerah }}</span></p>
                                      </div>
                                      <div class="content">
                                        {{ komentar.komentar }}
                                        <br>
                                        <span class="subtitle is-7">{{ komentar.created|date:"l, d M Y" }}</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
              <div class="column
              is-12-mobile
              is-12-tablet
              is-12-desktop">
                  <div class="subtitle has-text-centered">Kirim Komentar</div>
                  {% include "event/part/komentar.html" %}
              </div>
            </div>
          </div>
         </div>
    </div>
{% endblock %}