{% extends "about/about.html" %}
{% load i18n static %}

{% block about %}
  <div class="container px-3">
    <div class="columns is-multiline is-vcentered p-5">
      <div class="column
      is-12-mobile
      is-6-tablet
      is-6-desktop has-text-centered">
        <div class="content">
          <div class="notification p-3">
            <h1 class="title is-size-4-desktop is-size-5-tablet is-size-6-mobile is-uppercase" style="color:#008037">Visi</h1>
            <p class="subtitle is-size-6">
              Mewujudkan pengembangan dan perlindungan sungai di Indonesia serta stakeholder di dalamnyaMewujudkan pengembangan dan perlindungan sungai di Indonesia serta stakeholder di dalamnya.
            </p>
          </div>
        </div>
      </div>
      <div class="column
      is-12-mobile
      is-6-tablet
      is-6-desktop has-text-centered">
        <div class="content">
          <div class="notification p-3">
            <h1 class="title is-size-4-desktop is-size-5-tablet is-size-6-mobile is-uppercase" style="color:#008037">Misi</h1>
            <p class="subtitle is-size-6">
              Melakukan konservasi, edukasi, advokasi dan riset untuk keberlanjutan sungai serta lingkunganya bersamaan dengan pengembangan ekonomi, sosial dan budaya masyarakat pinggir sungai
            </p>
          </div>
        </div>
      </div>
      <div class="column
      is-12-mobile
      is-12-tablet
      is-12-desktop has-text-centered">
        <div class="content">
          <div class="notification p-3">
            <h1 class="title is-size-4-desktop is-size-5-tablet is-size-6-mobile is-uppercase mb-1" style="color:#008037">Tujuan</h1>
            <p class="mb-0">1. Peduli dan melakukan tindakan preventif terhadap konservasi hutan sungai<br>
            2. Melakukan restorasi kerusakan sempadan sungai<br>
            3. Melakukan survey dan pemetaan area kerusakan hutan sungai<br>
            4. Melakukan aksi ground cek lapangan untuk menemukan temuan penyalahgunaan fungsi sempadan sungai</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}